
/*#region CSS reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button{
    border: none;
}
ul, li{
    margin: 0;
    padding: 0;
}
/*#endregion*/

/* colors 
black: #1F1216;
dark-red: #562636
red: #F25187
green: #00C9B1 
drak-green: 00A18D
*/
/* fonts
font-family: proxima-nova, sans-serif;
font-family: proxima-nova-condensed, sans-serif; 
font-family: 'Lora', serif;
*/

body{
    background:#1F1216;
    font-family: proxima-nova, sans-serif;
}

main {
    margin: 0 auto;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}

.padding-bot-20{
    padding-bottom: 20px;
}

h1{
 font-style: italic;
font-weight: 600;
font-size: 36px;
line-height: 48px;
}
h2{
    font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 24px;
}
h3{
font-family: Lora;
font-style: italic;
font-weight: 600;
font-size: 24px;
line-height: 60px;
}
h4{
font-family: Lora;
font-style: italic;
font-weight: 600;
font-size: 42px;
line-height: 54px;
}
h5{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
margin: 0;
padding: 0;
text-align: right;
}

header{
    color: #00C9B1;
    margin: 10px 0;
}
nav{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 20px;
    height: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-self: end;
    height: 100%;
    align-items: center;
    list-style-type: none;
}

nav ul li{
 margin-left: 15px;
}

button{
    height: 50px;
    padding: 0 40px;
    color: #ffffff;
}
button:hover{
    cursor: pointer;
}

.join-us{
    background: #00C9B1;
}
.join-us:hover{
    background-color: #00A18D;
    transition: background-color 250ms;
}

.learn-more{
    background: #F25187;
}

.learn-more:hover{
    background: #562636;
    transition: background-color 250ms;
}

.slide-1 {
    color: #aaa;
    min-height: 650px;
    padding-bottom: 40px;
}

.slide-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    /* background: indigo; */
}
.flex-wrapper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.main-message{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.hero-image{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.logo{
    max-width: 300px;
}

.six-col-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    /* background: rgb(203, 98, 98); */
}

.five-row-grid{
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
}

/* .col-1{
    grid-column: 1/ span 1;
    grid-row: 1/ span 6;
    background: rgb(58, 141, 218);
}
.col-2{
    grid-column: 2/ span 1;
    grid-row: 1/ span 6;
    background: rgb(58, 141, 218);
} */

.section-header{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 20px 0 10px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    border-bottom: dotted 3px;
    /* background: green; */
}

.flex-row{
    display:flex;
    flex-direction: row;
    /* background: rgb(174, 60, 255); */
}

.flex-column{
    display:flex;
    flex-direction: column;
    /* background: rgb(60, 2, 103); */
}

.slide-2{
    background: #F25187;
    color:#562636;
}

.slide-2 .page-break{
    grid-column: 4/ span 3;
    grid-row: 4/ span 1;
    justify-self: center;
    align-self: end;
}

.slide-2 .hiring-manager{
    grid-column: 4 / span 3;
    grid-row: 1/span 3;
    padding: 30px;
}

.slide-2 .job-seeker{
    grid-column: 1 / span 4;
    grid-row: 3/span 3;
    margin-top: 40px;
    align-self: end;
    margin-left: -80px;
    padding: 0px 140px 0 0;
}

.quote{
    grid-column: 1/ span 3;
    grid-row: 1/span 3;
}

.interviewee-reply{
    grid-column: 3/ span 4;
    grid-row: 3/ span 2;
    color: #ffffff;
    text-align: left;
    padding-top: 20px;
    padding-left: 40px;
}

.statement{
    grid-column: 4/ span 3;
    grid-row: 5/ span 1;
    justify-self: start;
}

.slide-3{
    display: flex;
    flex-direction: row;
    min-height:550px;
    padding: 20px 60px; 
}


.page-inset{
    background: #fff;
}
.slide-3 .callout{
    display: flex;
    flex-direction:column;
    height: 300px;
    background-image: url(./resources/black-red.svg);
    background-repeat: no-repeat;
}
.slide-3 .section-header{
    display: flex;
    flex-direction: row;
    color: #00C9B1;
    padding: 0 0 10px 0;
    margin:0 0 20px 40px
}

.slide-3 .quote {
    color: #ffffff;
    max-width: 60%;
    margin-left: 40px;
}

.page-break{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 40px;
}

.slide-3 p{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.slide-4{
    background: #00C9B1;

}
.slide-4 .section-header{
    color:#fff;
    grid-row: 1/ span 1;
}
.slide-4 h1{
    width: 100%;
    text-align: center;
    padding-top: 40px;
}
.tiles{
    display: grid;
    grid-column: 1/span 6;
    grid-row: 2/ span 2;
    justify-content: center;
    padding-top: 60px;
}
.slide-4 .page-break{
    display: grid;
    grid-row: 4/ span 1;
}
.slide-5{
    min-height:650px;
    color: #fff;
    text-align: center;
}

.slide-5 .section-header{
   
}

.slide-5 h1 {
    padding: 15px 0;
    margin: 0 20px;
    justify-content: center;
}

.slide-5 .applicant-text{
    display:flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

.slide-5 h1 a {
    color: #F25187;
    text-decoration: underline;
}

.slide-5 p {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    justify-content: center;
}

.roles-container{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.roles {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    align-content: center;
    margin: 0 20px;
    color: #aaa;

}

.roles img{
 max-height: 50px;
 margin: 20px;

}
.roles ul{
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.roles .role-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color:#F25187;
    margin: 20px 0;
}
.roles.engineer{
}

.roles.designer{
}

.roles.data-scientist{
}

.roles.mentor{
}

.coop-free{

}

.join-us-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0;
}

.footer{
    display: flex;
    flex-direction: column;
    color: #aaa;
    margin: 20px;
}

.footer ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    justify-content: space-between;
}


.pink-text{
    color:#F25187;
}
.footer ul li {
    display: flex;
}



@media only screen and (max-width: 768px) {
    header {
        color: #00C9B1;
        margin: 20px 0;
    }

    nav .slide-container{
        padding: 0 10px;
    }
    
    .slide-container {
        padding: 0 20px;
    }
    
    .flex-wrapper{
        flex-direction: column;
        }
    .main-message{
        max-width: 100%;
        padding: 20px 0 40px 0;
    }

    .five-row-grid{
        grid-template-rows: auto;
    }
    .quote{
        grid-column: 1/ span 6;
        grid-row: 1/span 1;
        padding-top: 20px;
        marging: 0;
    }
    
    .slide-2 .hiring-manager{
        display: grid;
        grid-column: 1/ span 6;
        grid-row: 2/span 1;
        padding: 20px 0;
        margin: 0;

    }
    .slide-2 .interviewee-reply{
        grid-column: 1/ span 6;
        grid-row: 3/span 1;
    }

    .interviewee-reply {
        padding-left: 10px;
    }
    .slide-2 .job-seeker{
        grid-column: 1/ span 6;
        grid-row: 4/span 1;
        margin: 0 ;
        padding: 40px 0;
    }
    .slide-2 .page-break{
        grid-column: 1/ span 6;
        grid-row: 5/span 1;
        align-self: start;
        margin-top: 40px;
        padding-bottom: 40px;
    }

    .statement{
        grid-column: 1/ span 6;
        grid-row: 5/span 1;
        justify-content: center;
    }
    .statement h5{
        text-align: center;
    }
    .slide-3{
        padding: 10px 0;
    }

    .page-inset{
        padding-bottom: 40px;
    }

    .slide-3 .callout {
        display: flex;
        flex-direction: column;
        height: 310px;
        background-image: url(./resources/black-red.svg);
        background-repeat: no-repeat;
    }
    .slide-3 .section-header {
        margin: 0 0 0px 20px;
        padding: 20px 0 10px 0;
    }
    .slide-3 .quote {
        color: #ffffff;
        max-width: 90%;
        margin-left: 20px;
    }
    
    h4{
        font-size: 36px;
    }
} 